{% extends 'back.html.twig' %}

{% block title %}New Uber{% endblock %}

{% block body %}
    {{parent()}}
    <!-- Breadcrumb Begin -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Add</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item active">Add </li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- Breadcrumb End -->
        {{ include('uber/_form.html.twig') }}
    </div>
    <script>
        $(document).on('change', '#transports_type, #transports_address_transport', function () {
            let $field = $(this)
            let $regionField = $('#transports_type')
            let $form = $field.closest('form')
            let target = '#' + $field.attr('id').replace('departement', 'ville').replace('region', 'departement')
            // Les données à envoyer en Ajax
            let data = {}
            data[$regionField.attr('name')] = $regionField.val()
            data[$field.attr('name')] = $field.val()
            // On soumet les données
            $.post($form.attr('action'), data).then(function (data) {
                // On récupère le nouveau <select>
                let $input = $(data).find(target)
                // On remplace notre <select> actuel
                $(target).replaceWith($input)
            })
        })
    </script>
{% endblock %}

