{% extends 'base.html.twig' %}

{% block body %}
    {{parent()}}
    <!-- Listing Section Begin -->
    <section class="listing-hero set-bg" data-setbg="img/listing/details/listing-hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="listing__hero__option">
                        <div class="listing__hero__icon">
                            <img src="img/listing/details/ld-icon.png" alt="">
                        </div>
                        <div class="listing__hero__text">
                            <h2>List Products</h2>
                            <div class="listing__hero__widget">
                                <div class="listing__hero__widget__rating">
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star"></span>
                                    <span class="icon_star-half_alt"></span>
                                </div>
                                <div>120 Review</div>
                            </div>
                            <p><span class="icon_pin_alt"></span> 1012 Vesper Dr. Columbus, Georgia, United States</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="listing__hero__btns">
                        <a href="/addProduit" class="primary-btn"><i class="fa fa-bookmark"></i> Add Product</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Section End -->

    <!-- Listing Details Section Begin -->
    <section class="listing-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="listing__details__text">


                        <div class="listing__details__amenities">
                            <h4>Amenities</h4>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4">
                                    <div class="listing__item">
                                        <div class="listing__item__pic set-bg" data-setbg="img/produits/balgha3.jpg">
                                            <img src="img/listing/list_icon-1.png" alt="">

                                            <div class="listing__item__pic__btns">
                                                <a href="#"><span class="icon_zoom-in_alt"></span></a>
                                                <a href="#"><span class="icon_heart_alt"></span></a>
                                            </div>
                                        </div>
                                        <div class="listing__item__text">
                                            <div class="listing__item__text__inside">
                                                <h5>Magasin d'art et d'artisanat</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star-half_alt"></span>
                                                    </div>

                                                </div>
                                                <ul>
                                                    <li><span class="icon_pin_alt"></span>  Rue Sidi Ben Arous, Tunis
                                                    </li>
                                                    <li><span class="icon_phone"></span> 52 344 786</li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/listing/list_small_icon-1.png" alt="">
                                                    <span>Boutiques</span>
                                                </div>
                                                <div class="listing__item__text__info__right"><button type="submit" class="btn btn-success">Update</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <div class="listing__item">
                                        <div class="listing__item__pic set-bg" data-setbg="img/produits/chachia2.jpg">
                                            <img src="img/listing/list_icon-1.png" alt="">

                                            <div class="listing__item__pic__btns">
                                                <a href="#"><span class="icon_zoom-in_alt"></span></a>
                                                <a href="#"><span class="icon_heart_alt"></span></a>
                                            </div>
                                        </div>
                                        <div class="listing__item__text">
                                            <div class="listing__item__text__inside">
                                                <h5>Magasin d'art et d'artisanat</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star-half_alt"></span>
                                                    </div>

                                                </div>
                                                <ul>
                                                    <li><span class="icon_pin_alt"></span>  Rue Sidi Ben Arous, Tunis
                                                    </li>
                                                    <li><span class="icon_phone"></span> 52 344 786</li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/listing/list_small_icon-1.png" alt="">
                                                    <span>Boutiques</span>
                                                </div>
                                                <div class="listing__item__text__info__right"><button type="submit" class="btn btn-success">Update</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <div class="listing__details__amenities__item">
                                        <div class="listing__item">
                                            <div class="listing__item__pic set-bg" data-setbg="img/produits/obj.jpg">
                                                <img src="img/listing/list_icon-1.png" alt="">

                                                <div class="listing__item__pic__btns">
                                                    <a href="#"><span class="icon_zoom-in_alt"></span></a>
                                                    <a href="#"><span class="icon_heart_alt"></span></a>
                                                </div>
                                            </div>
                                            <div class="listing__item__text">
                                                <div class="listing__item__text__inside">
                                                    <h5>Magasin d'art et d'artisanat</h5>
                                                    <div class="listing__item__text__rating">
                                                        <div class="listing__item__rating__star">
                                                            <span class="icon_star"></span>
                                                            <span class="icon_star"></span>
                                                            <span class="icon_star"></span>
                                                            <span class="icon_star"></span>
                                                            <span class="icon_star-half_alt"></span>
                                                        </div>

                                                    </div>
                                                    <ul>
                                                        <li><span class="icon_pin_alt"></span>  Rue Sidi Ben Arous, Tunis
                                                        </li>
                                                        <li><span class="icon_phone"></span> 52 344 786</li>
                                                    </ul>
                                                </div>
                                                <div class="listing__item__text__info">
                                                    <div class="listing__item__text__info__left">
                                                        <img src="img/listing/list_small_icon-1.png" alt="">
                                                        <span>Boutiques</span>
                                                    </div>
                                                    <div class="listing__item__text__info__right"><button type="submit" class="btn btn-success">Update</button></div>
                                                </div>
                                            </div>
                                        </div>
                                </div>





                            </div>
                        </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="listing__details__text">


                        <div class="listing__details__amenities">
                            <h4>Amenities</h4>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4">
                                    <div class="listing__item">
                                        <div class="listing__item__pic set-bg" data-setbg="img/produits/jebbaf3.jpg">
                                            <img src="img/listing/list_icon-1.png" alt="">

                                            <div class="listing__item__pic__btns">
                                                <a href="#"><span class="icon_zoom-in_alt"></span></a>
                                                <a href="#"><span class="icon_heart_alt"></span></a>
                                            </div>
                                        </div>
                                        <div class="listing__item__text">
                                            <div class="listing__item__text__inside">
                                                <h5>Magasin d'art et d'artisanat</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star-half_alt"></span>
                                                    </div>

                                                </div>
                                                <ul>
                                                    <li><span class="icon_pin_alt"></span>  Rue Sidi Ben Arous, Tunis
                                                    </li>
                                                    <li><span class="icon_phone"></span> 52 344 786</li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/listing/list_small_icon-1.png" alt="">
                                                    <span>Boutiques</span>
                                                </div>
                                                <div class="listing__item__text__info__right"><button type="submit" class="btn btn-success">Update</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <div class="listing__item">
                                        <div class="listing__item__pic set-bg" data-setbg="img/produits/jebbah2.jpg">
                                            <img src="img/listing/list_icon-1.png" alt="">

                                            <div class="listing__item__pic__btns">
                                                <a href="#"><span class="icon_zoom-in_alt"></span></a>
                                                <a href="#"><span class="icon_heart_alt"></span></a>
                                            </div>
                                        </div>
                                        <div class="listing__item__text">
                                            <div class="listing__item__text__inside">
                                                <h5>Magasin d'art et d'artisanat</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star"></span>
                                                        <span class="icon_star-half_alt"></span>
                                                    </div>

                                                </div>
                                                <ul>
                                                    <li><span class="icon_pin_alt"></span>  Rue Sidi Ben Arous, Tunis
                                                    </li>
                                                    <li><span class="icon_phone"></span> 52 344 786</li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/listing/list_small_icon-1.png" alt="">
                                                    <span>Boutiques</span>
                                                </div>
                                                <div class="listing__item__text__info__right"><button type="submit" class="btn btn-success">Update</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <div class="listing__details__amenities__item">
                                        <div class="listing__item">
                                            <div class="listing__item__pic set-bg" data-setbg="img/produits/obj10.jpg">
                                                <img src="img/listing/list_icon-1.png" alt="">

                                                <div class="listing__item__pic__btns">
                                                    <a href="#"><span class="icon_zoom-in_alt"></span></a>
                                                    <a href="#"><span class="icon_heart_alt"></span></a>
                                                </div>
                                            </div>
                                            <div class="listing__item__text">
                                                <div class="listing__item__text__inside">
                                                    <h5>Magasin d'art et d'artisanat</h5>
                                                    <div class="listing__item__text__rating">
                                                        <div class="listing__item__rating__star">
                                                            <span class="icon_star"></span>
                                                            <span class="icon_star"></span>
                                                            <span class="icon_star"></span>
                                                            <span class="icon_star"></span>
                                                            <span class="icon_star-half_alt"></span>
                                                        </div>

                                                    </div>
                                                    <ul>
                                                        <li><span class="icon_pin_alt"></span>  Rue Sidi Ben Arous, Tunis
                                                        </li>
                                                        <li><span class="icon_phone"></span> 52 344 786</li>
                                                    </ul>
                                                </div>
                                                <div class="listing__item__text__info">
                                                    <div class="listing__item__text__info__left">
                                                        <img src="img/listing/list_small_icon-1.png" alt="">
                                                        <span>Boutiques</span>
                                                    </div>
                                                    <div class="listing__item__text__info__right"><button type="submit" class="btn btn-success">Update</button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="listing__sidebar">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Details Section End -->

{% endblock %}
