
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directing | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body class="ov-hid">
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header header--normal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="img/footer-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/accueil">Home</a></li>
                            <li><a href="/listing">Listing</a></li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header__menu__right">
                        <a href="#" class="primary-btn"><i class="fa fa-plus"></i>Add Listing</a>
                        <a href="#" class="login-btn"><i class="fa fa-user"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header Section End -->



<!-- Listing Section Begin -->
<section class="listing nice-scroll">
    <div class="listing__text__top">
        <div class="listing__text__top__left">
            <h5>Restaurants</h5>
            <span>18 Results Found</span>
        </div>
        <div class="listing__text__top__right">Nearby <i class="fa fa-sort-amount-asc"></i></div>
    </div>
    <div class="listing__list ">
        <div class="listing__item col-lg-12">
            <div class="listing__item__pic set-bg" data-setbg="img/listing/list-1.jpg">
                <img src="img/listing/list_icon-1.png" alt="">
                <div class="listing__item__pic__tag">Popular</div>
                <div class="listing__item__pic__btns">
                    <a href="#"><span class="icon_zoom-in_alt"></span></a>
                    <a href="#"><span class="icon_heart_alt"></span></a>
                </div>
            </div>
            <div class="listing__item__text">
                <div class="listing__item__text__inside">
                    <h5>Chinese Sausage Restaurant</h5>
                    <div class="listing__item__text__rating">
                        <div class="listing__item__rating__star">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <h6>$40 - $70</h6>
                    </div>
                    <ul>
                        <li><span class="icon_pin_alt"></span> 236 Littleton St. New Philadelphia, Ohio, United
                            States</li>
                        <li><span class="icon_phone"></span> (+12) 345-678-910</li>
                    </ul>
                </div>
                <div class="listing__item__text__info">
                    <div class="listing__item__text__info__left">
                        <img src="img/listing/list_small_icon-1.png" alt="">
                        <span>Restaurant</span>
                    </div>
                    <div class="listing__item__text__info__right">Open Now</div>
                </div>
            </div>
        </div>
        <div class="listing__item">
            <div class="listing__item__pic set-bg" data-setbg="img/listing/list-2.jpg">
                <img src="img/listing/list_icon-2.png" alt="">
                <div class="listing__item__pic__tag top_rate">Top Rate</div>
                <div class="listing__item__pic__btns">
                    <a href="#"><span class="icon_zoom-in_alt"></span></a>
                    <a href="#"><span class="icon_heart_alt"></span></a>
                </div>
            </div>
            <div class="listing__item__text">
                <div class="listing__item__text__inside">
                    <h5>Shrimp floured and fried</h5>
                    <div class="listing__item__text__rating">
                        <div class="listing__item__rating__star">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <h6>$40 - $70</h6>
                    </div>
                    <ul>
                        <li><span class="icon_pin_alt"></span> 1012 Vesper Dr. Columbus, Georgia(GA), United States
                        </li>
                        <li><span class="icon_phone"></span> (+12) 345-678-910</li>
                    </ul>
                </div>
                <div class="listing__item__text__info">
                    <div class="listing__item__text__info__left">
                        <img src="img/listing/list_small_icon-2.png" alt="">
                        <span>Food & Drink</span>
                    </div>
                    <div class="listing__item__text__info__right closed">Closed</div>
                </div>
            </div>
        </div>
        <div class="listing__item">
            <div class="listing__item__pic set-bg" data-setbg="img/listing/list-4.jpg">
                <img src="img/listing/list_icon-4.png" alt="">
                <div class="listing__item__pic__tag">Popular</div>
                <div class="listing__item__pic__btns">
                    <a href="#"><span class="icon_zoom-in_alt"></span></a>
                    <a href="#"><span class="icon_heart_alt"></span></a>
                </div>
            </div>
            <div class="listing__item__text">
                <div class="listing__item__text__inside">
                    <h5>Crab fried with tamarind</h5>
                    <div class="listing__item__text__rating">
                        <div class="listing__item__rating__star">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <h6>$40 - $70</h6>
                    </div>
                    <ul>
                        <li><span class="icon_pin_alt"></span> 14320 Keenes Mill Rd. Cottondale, Alabama(AL), United
                            States</li>
                        <li><span class="icon_phone"></span> (+12) 345-678-910</li>
                    </ul>
                </div>
                <div class="listing__item__text__info">
                    <div class="listing__item__text__info__left">
                        <img src="img/listing/list_small_icon-3.png" alt="">
                        <span>Hotel</span>
                    </div>
                    <div class="listing__item__text__info__right closed">Closed</div>
                </div>
            </div>
        </div>
        <div class="listing__item">
            <div class="listing__item__pic set-bg" data-setbg="img/listing/list-3.jpg">
                <img src="img/listing/list_icon-3.png" alt="">
                <div class="listing__item__pic__tag">Popular</div>
                <div class="listing__item__pic__btns">
                    <a href="#"><span class="icon_zoom-in_alt"></span></a>
                    <a href="#"><span class="icon_heart_alt"></span></a>
                </div>
            </div>
            <div class="listing__item__text">
                <div class="listing__item__text__inside">
                    <h5>Sweet and sour pork ribs</h5>
                    <div class="listing__item__text__rating">
                        <div class="listing__item__rating__star">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <h6>$40 - $70</h6>
                    </div>
                    <ul>
                        <li><span class="icon_pin_alt"></span> 251 Wiley St. Forks, Washington(WA), United States
                        </li>
                        <li><span class="icon_phone"></span> (+12) 345-678-910</li>
                    </ul>
                </div>
                <div class="listing__item__text__info">
                    <div class="listing__item__text__info__left">
                        <img src="img/listing/list_small_icon-1.png" alt="">
                        <span>Restaurant</span>
                    </div>
                    <div class="listing__item__text__info__right">Open Now</div>
                </div>
            </div>
        </div>
        <div class="listing__item">
            <div class="listing__item__pic set-bg" data-setbg="img/listing/list-5.jpg">
                <img src="img/listing/list_icon-5.png" alt="">
                <div class="listing__item__pic__tag hot_deal">Hot Deal</div>
                <div class="listing__item__pic__btns">
                    <a href="#"><span class="icon_zoom-in_alt"></span></a>
                    <a href="#"><span class="icon_heart_alt"></span></a>
                </div>
            </div>
            <div class="listing__item__text">
                <div class="listing__item__text__inside">
                    <h5>Tortoise grilled on salt</h5>
                    <div class="listing__item__text__rating">
                        <div class="listing__item__rating__star">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <h6>$40 - $70</h6>
                    </div>
                    <ul>
                        <li><span class="icon_pin_alt"></span> 236 Littleton St. New Philadelphia, Ohio, United
                            States</li>
                        <li><span class="icon_phone"></span> (+12) 345-678-910</li>
                    </ul>
                </div>
                <div class="listing__item__text__info">
                    <div class="listing__item__text__info__left">
                        <img src="img/listing/list_small_icon-4.png" alt="">
                        <span>Shopping</span>
                    </div>
                    <div class="listing__item__text__info__right">Open Now</div>
                </div>
            </div>
        </div>
        <div class="listing__item">
            <div class="listing__item__pic set-bg" data-setbg="img/listing/list-6.jpg">
                <img src="img/listing/list_icon-6.png" alt="">
                <div class="listing__item__pic__tag">Popular</div>
                <div class="listing__item__pic__btns">
                    <a href="#"><span class="icon_zoom-in_alt"></span></a>
                    <a href="#"><span class="icon_heart_alt"></span></a>
                </div>
            </div>
            <div class="listing__item__text">
                <div class="listing__item__text__inside">
                    <h5>Fish cooked with fishsauce</h5>
                    <div class="listing__item__text__rating">
                        <div class="listing__item__rating__star">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <h6>$40 - $70</h6>
                    </div>
                    <ul>
                        <li><span class="icon_pin_alt"></span> 2604 E Drachman St. Tucson, Arizona, United States
                        </li>
                        <li><span class="icon_phone"></span> (+12) 345-678-910</li>
                    </ul>
                </div>
                <div class="listing__item__text__info">
                    <div class="listing__item__text__info__left">
                        <img src="img/listing/list_small_icon-3.png" alt="">
                        <span>Hotel</span>
                    </div>
                    <div class="listing__item__text__info__right">Open Now</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{{ asset('img/footer-logo.png') }}" alt=""></a>
                        </div>
                        <p>Challenging the way things have always been done can lead to creative new options that reward
                            you.</p>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-md-6">
                    <div class="footer__address">
                        <ul>
                            <li>
                                <span>Call Us:</span>
                                <p>(+12) 345-678-910</p>
                            </li>
                            <li>
                                <span>Email:</span>
                                <p>info.colorlib@gmail .com</p>
                            </li>
                            <li>
                                <span>Fax:</span>
                                <p>(+12) 345-678-910</p>
                            </li>
                            <li>
                                <span>Connect Us:</span>
                                <div class="footer__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6">
                    <div class="footer__widget">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">How it work</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">How it Work</a></li>
                            <li><a href="#">Advantages</a></li>
                            <li><a href="#">Direo App</a></li>
                            <li><a href="#">Packages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                        <div class="footer__copyright__links">
                            <a href="#">Terms</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Cookie Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- Footer Section End -->
</section>
<!-- Listing Section End -->



<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.barfiller.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>


</body>

</html>