{% extends 'back.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
<div class="content-wrapper">
    <h1>Create new Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('produit_index') }}">back to list</a>
</div>
{% endblock %}
