{% extends 'layout.html.twig' %}

{% block title %}New Guides{% endblock %}

{% block body %}
    {{parent()}}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-area set-bg" data-setbg={{ asset('img/breadcrumb/breadcrumb-normal.jpg') }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Ajouter Guide</h2>
                        <div class="breadcrumb__option">
                            <a href="/accueil"><i class="fa fa-home"></i> Home</a>
                            <span>Contacts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
<div class="container">
    <h2>Create new Guides</h2>
</div>

    {{ include('guides/_form.html.twig') }}
<div class="container">
<div class="btn pull-right">
    <a href="{{ path('guides_index') }}">Liste Guide</a>
</div>
</div>
{% endblock %}
