<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>

    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 700px;
            /* The height is 100 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const uluru = { lat: 33.8439408, lng: 9.400138 };
            const soukra= { lat: 36.87744, lng: 10.2468 };
            const lac = { lat: 36.81897, lng: 10.16579 };
            const tunis = { lat: 36.8002068, lng: 10.1857757 };
            const ennaser = { lat: 36.8488818, lng: 10.3097456 };

            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: soukra,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: soukra,
                map: map,
            });
            const marker1 = new google.maps.Marker({
                position: lac,
                map: map,
            });
            const marker3 = new google.maps.Marker({
                position: tunis,
                map: map,
            });
            const marker4 = new google.maps.Marker({
                position: ennaser,
                map: map,
            });
        }
    </script>
</head>
<body>
<!--The div element for the map -->
<div id="map"></div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuP0QbhWgKwx5mwDm1jV2pZXYU4FtGhQ4&callback=initMap&libraries=&v=weekly"
        async
></script>



</body>
</html>