<!-- Feature Location Section Begin -->
<section class="feature-location spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Top Featured Locations</h2>
                    <p>Explore restaurants, bars, and cafés by locality</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <a href="#" class="feature__location__item large-item set-bg"
                   data-setbg="img/feature-location/fl-1.jpg">
                    <div class="feature__location__item__text">
                        <h5>Washington, D.C</h5>
                        <ul>
                            <li>2045 Listings</li>
                            <li>3648 Users</li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <a href="#" class="feature__location__item set-bg"
                           data-setbg="img/feature-location/fl-2.jpg">
                            <div class="feature__location__item__text">
                                <h5>Chicago</h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <a href="#" class="feature__location__item set-bg"
                           data-setbg="img/feature-location/fl-3.jpg">
                            <div class="feature__location__item__text">
                                <h5>San Antonio</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="#" class="feature__location__item set-bg" data-setbg="img/feature-location/fl-4.jpg">
                    <div class="feature__location__item__text">
                        <h5>Los Angeles</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Feature Location Section End -->