{% extends 'base.html.twig' %}

{% block body %}
    {{parent()}}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-area set-bg" data-setbg="img/breadcrumb/breadcrumb-normal.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>add Produits</h2>
                        <div class="breadcrumb__option">
                            <a href="/accueil"><i class="fa fa-home"></i> Home</a>
                            <span>Contacts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="id-Produits" value="">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="nom-Produits" value="">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="marque" value="">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="Prix-produit" value="">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="poids_produit" value="">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" placeholder="id-boutique" value="">
                            </div>
                        </div>
                </div>
            </div>




        </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}